*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; 
}
.sky{
  width: 100%;
  background-image: url('./images/sky1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.imgSky{
   width: 30%;
}
.earth{
  margin: 0;
  padding: 0;
}
.imgEarth{
  width: 100%;
  height: 39vh;
}
.allAnimation{
  position: absolute;
  z-index: 9;
  top: 50%;
  width: 100%;
}
.layer1{
  position: relative;
  width: 100%;
}
.palm1{
  position: absolute;
  left: 40%;
  top: -60px
}
.chase1{
  position: absolute;
  left: 65%;
  top: 50px;
}
.chase3{
  position: absolute;
  left: 110%;
  top: 20px;
}
.chase5{
  position: absolute;
  left: 150%;
  top: -24px;
}
.layer2{
  position: relative;
  width: 100%;
  z-index: 20;
}
.redQueen{
  margin: 0 30%;
} 
.layer3{
  position: relative;
  width: 100%;
  z-index: 30;
  top: -480px;
}
.chase4{
  position: absolute;
  top: 140px;
  left: 24%;
  
}
.palm2{
  position: absolute;
  left: 80%;
}